@{
    ViewData["Title"] = "Index";
    ViewData["ID_Usuario_String"] = this.ViewContext.HttpContext.Session.GetString("ID_Usuario_String");
    ViewData["Nombre_Apellido_Usuario_String"] = this.ViewContext.HttpContext.Session.GetString("Nombre_Apellido_Usuario_String");
    ViewData["E_Mail_Usuario_String"] = this.ViewContext.HttpContext.Session.GetString("E_Mail_Usuario_String");
    ViewData["Imagen_Usuario_String"] = this.ViewContext.HttpContext.Session.GetString("Imagen_Usuario_String");
}

<div class="row">
    <div class="col-sm-12 text-center">
        <br />
        <br />
        @{
            if ((bool)ViewData["Status"])
            {
                <h1 class="text-success">Success!</h1>
                <i class="fa-solid fa-circle-check"></i>

                <h2 class="text-success">Transacción Realizada</h2>

                <br />
                <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver</a>
            }
            else
            {
                <h1 class="text-danger">Fail!</h1>
                <i class="fa-solid fa-circle-exclamation"></i>

                <h2 class="text-danger">Error</h2>

                <br />
                <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver</a>
            }
        }
    </div>
</div>
@section Java_Script {
    <script src="~/js/Store.js" asp-append-version="true"></script>
}