@{
    ViewData["Title"] = "Index";
    ViewData["ID_Usuario_String"] = this.ViewContext.HttpContext.Session.GetString("ID_Usuario_String");
    ViewData["ID_Tipo_Usuario_String"] = this.ViewContext.HttpContext.Session.GetString("ID_Tipo_Usuario_String");
    ViewData["Nombre_Apellido_Usuario_String"] =
    this.ViewContext.HttpContext.Session.GetString("Nombre_Apellido_Usuario_String");
    ViewData["E_Mail_Usuario_String"] = this.ViewContext.HttpContext.Session.GetString("E_Mail_Usuario_String");
    ViewData["Imagen_Usuario_String"] = this.ViewContext.HttpContext.Session.GetString("Imagen_Usuario_String");
}

<main>
    <div class="container-fluid px-4">
        @if (User.IsInRole("Administrador"))
        {
            <h1 class="m-4">Bienvenido/a Administror/a!</h1>
            <!-- Content Row -->
            <div class="row">

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-6 d-flex flex-column align-items-center">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        N° Transacciones
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold" id="Tabla_Movimiento_Inventario">0</div>
                                </div>
                                <div class="col-6 d-flex flex-column align-items-center">
                                    <i class="fa-solid fa-truck-fast fa-2xl"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-6 d-flex flex-column align-items-center">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        N° Categorías
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold" id="Tabla_Categoria_Insumo">
                                        0
                                    </div>
                                </div>
                                <div class="col-6 d-flex flex-column align-items-center">
                                    <i class="fa-solid fa-clipboard-check fa-2xl"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-6 d-flex flex-column align-items-center">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                        N° Proveedores
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold" id="Tabla_Proveedor_Insumo">0</div>
                                </div>
                                <div class="col-6 d-flex flex-column align-items-center">
                                    <i class="fa-solid fa-handshake fa-2xl"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-6 d-flex flex-column align-items-center">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        N° Insumos
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold" id="Tabla_Insumo">0</div>
                                </div>
                                <div class="col-6 d-flex flex-column align-items-center">
                                    <i class="fa-solid fa-utensils fa-2xl"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0">
                                <i class="fa-solid fa-chart-simple"></i>&nbsp;&nbsp;Reporte 01: Número de Transacciones de
                                Entrada
                            </h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-dark"></i>
                                </a>
                                <div style="padding: 8px;"
                                    class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                    <form asp-area="" asp-controller="Home" asp-action="Report_02">
                                        <button style="width: 200px;" class="btn btn-danger" type="submit">
                                            <i class="fa-solid fa-file-pdf"></i>&nbsp;&nbsp;Generar Reporte
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="Chart_01" witdh="100" height="200"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0">
                                <i class="fa-solid fa-chart-simple"></i>&nbsp;&nbsp;Reporte 02: Número de Transacciones de
                                Salida
                            </h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-dark"></i>
                                </a>
                                <div style="padding: 8px;"
                                    class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                    <form asp-area="" asp-controller="Home" asp-action="Report_03">
                                        <button style="width: 200px;" class="btn btn-danger" type="submit">
                                            <i class="fa-solid fa-file-pdf"></i>&nbsp;&nbsp;Generar Reporte
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="Chart_02" witdh="100" height="200"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa-solid fa-chart-pie"></i>&nbsp;&nbsp;Reporte 03: Número de Stock por Categoría de
                            Insumo
                        </div>
                        <div class="card-body">
                            <canvas id="Chart_03" witdh="100" height="200"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa-solid fa-chart-pie"></i>&nbsp;&nbsp;Reporte 04: Número de Stock por Proveedor -
                            Aceites
                        </div>
                        <div class="card-body">
                            <canvas id="Chart_04" witdh="100" height="200"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa-solid fa-chart-pie"></i>&nbsp;&nbsp;Reporte 05: Número de Stock por Proveedor -
                            Bebidas
                        </div>
                        <div class="card-body">
                            <canvas id="Chart_05" witdh="100" height="200"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa-solid fa-chart-pie"></i>&nbsp;&nbsp;Reporte 06: Número de Stock por Proveedor -
                            Carnes
                        </div>
                        <div class="card-body">
                            <canvas id="Chart_06" witdh="100" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-danger mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0"><i class="fa-solid fa-stopwatch"></i>&nbsp;&nbsp;Insumos por Expirar</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-dark"></i>
                        </a>
                        <div style="padding: 8px;" class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <form asp-area="" asp-controller="Home" asp-action="Report_01">
                                <button style="width: 200px;" class="btn btn-danger" type="submit"><i
                                        class="fa-solid fa-file-pdf"></i>&nbsp;&nbsp;Generar Reporte</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="Table_Deadline_Report" class="display nowrap" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Categoría</th>
                                        <th>Proveedor</th>
                                        <th>Insumo</th>
                                        <th>Descripción</th>
                                        <th>Unidad de Medida</th>
                                        <th>Precio</th>
                                        <th>Stock</th>
                                        <th>Estado</th>
                                        <th>Fecha de Vencimiento</th>
                                        <th>Imagen</th>
                                        <th>Días Restantes</th>
                                        <th>Operación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-primary mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-scroll"></i>&nbsp;&nbsp;Historial de Transacciones
                </div>
                <div class="card-body">
                    <form asp-area="" asp-controller="Home" asp-action="Report_05" method="POST">
                        <div class="row align-items-end">
                            <div class="col-sm-2">
                                <div class="mb-2">
                                    <label class="form-label">Fecha Inicial:</label>
                                    <input class="form-control" type="text" id="Initial_Fecha_Movimiento_Inventario"
                                        name="Initial_Fecha_Movimiento_Inventario">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="mb-2">
                                    <label class="form-label">Fecha Final:</label>
                                    <input class="form-control" type="text" id="Final_Fecha_Movimiento_Inventario"
                                        name="Final_Fecha_Movimiento_Inventario">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="mb-2">
                                    <label class="form-label">ID Movimiento Inventario:</label>
                                    <input class="form-control" type="number" id="ID_Movimiento_Inventario"
                                        name="ID_Movimiento_Inventario" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="d-grid mb-2">
                                    <button class="btn btn-primary" id="Search_Button" type="button">
                                        <i class="fa-solid fa-magnifying-glass"></i>&nbsp;&nbsp;Buscar
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="d-grid mb-2">
                                    <button style="width: 200px;" class="btn btn-danger" type="submit"><i
                                            class="fa-solid fa-file-pdf"></i>&nbsp;&nbsp;Generar Reporte</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="Table_Transaction_Report" class="display nowrap" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tipo</th>
                                        <th>Categoría</th>
                                        <th>Proveedor</th>
                                        <th>Insumo</th>
                                        <th>Descripción</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Total</th>
                                        <th>Fecha</th>
                                        <th>Empleado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</main>

@section Java_Script {
    <script src="~/js/Index.js" asp-append-version="true"></script>
}