@{
    ViewData["Title"] = "Index";
    ViewData["ID_Usuario_String"] = this.ViewContext.HttpContext.Session.GetString("ID_Usuario_String");
    ViewData["ID_Tipo_Usuario_String"] = this.ViewContext.HttpContext.Session.GetString("ID_Tipo_Usuario_String");
    ViewData["Nombre_Apellido_Usuario_String"] =
    this.ViewContext.HttpContext.Session.GetString("Nombre_Apellido_Usuario_String");
    ViewData["E_Mail_Usuario_String"] = this.ViewContext.HttpContext.Session.GetString("E_Mail_Usuario_String");
    ViewData["Imagen_Usuario_String"] = this.ViewContext.HttpContext.Session.GetString("Imagen_Usuario_String");
}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <!-- Middle List -->
                        <div class="col-sm-9">
                            <div class="me-2">
                                <div class="d-flex justify-content-between">
                                    <h5 class="ms-2 mt-2">Insumos Agregados a Middle</h5>
                                </div>
                                <hr class="mt-2 mb-2" />
                                <div id="Middle_List">
                                </div>
                                <div class="d-flex justify-content-end">
                                    <label class="align-self-center">
                                        <b>Total: S/. <span id="Monto_Total_Movimiento_Inventario"></span></b>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- Delivery Detail -->
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body bg-light">
                                    <h5 class="card-title">Detalles del Envío</h5>
                                    <form id="Form_Delivery" class="needs-validation" novalidate>
                                        <div class="mb-2">
                                            <label for="ID_Departamento" class="form-label">Departamento:</label>
                                            <select class="form-select form-select-sm" id="ID_Departamento"
                                                name="ID_Departamento"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="ID_Provincia" class="form-label">Provincia:</label>
                                            <select class="form-select form-select-sm" id="ID_Provincia"
                                                name="ID_Provincia"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="ID_Distrito" class="form-label">Distrito:</label>
                                            <select class="form-select form-select-sm" id="ID_Distrito"
                                                name="ID_Distrito"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="Restaurante_Movimiento_Inventario"
                                                class="form-label">Restaurante:</label>
                                            <input type="text" class="form-control form-control-sm"
                                                id="Restaurante_Movimiento_Inventario"
                                                name="Restaurante_Movimiento_Inventario" placeholder="Nombre Completo"
                                                autocomplete="off" />
                                        </div>
                                        <div class="mb-2">
                                            <label for="Direccion_Movimiento_Inventario"
                                                class="form-label">Dirección:</label>
                                            <input type="text" class="form-control form-control-sm"
                                                id="Direccion_Movimiento_Inventario"
                                                name="Direccion_Movimiento_Inventario" placeholder="Dirección"
                                                autocomplete="off" />
                                        </div>
                                        <div class="mb-2">
                                            <label for="Telefono_Movimiento_Inventario"
                                                class="form-label">Teléfono:</label>
                                            <input type="number" class="form-control form-control-sm"
                                                id="Telefono_Movimiento_Inventario"
                                                name="Telefono_Movimiento_Inventario" placeholder="Teléfono"
                                                autocomplete="off" />
                                        </div>
                                        <div class="d-grid">
                                            <button class="btn btn-success" type="submit" onclick="Confirm()">
                                                <i class="fa-solid fa-check-double"></i>&nbsp;&nbsp;Confirmar
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Java_Script {
    @if (ViewData["ID_Tipo_Usuario_String"] == "2")
    {
        <script src="~/js/Transaction.js" asp-append-version="true"></script>
    }

    @if (ViewData["ID_Tipo_Usuario_String"] == "1")
    {
        <script src="~/js/Transaction_Alternative.js" asp-append-version="true"></script>
    }
}