@{
    ViewData["Title"] = "Index";
    ViewData["ID_Usuario_String"] = this.ViewContext.HttpContext.Session.GetString("ID_Usuario_String");
    ViewData["Nombre_Apellido_Usuario_String"] =
    this.ViewContext.HttpContext.Session.GetString("Nombre_Apellido_Usuario_String");
    ViewData["E_Mail_Usuario_String"] = this.ViewContext.HttpContext.Session.GetString("E_Mail_Usuario_String");
    ViewData["Imagen_Usuario_String"] = this.ViewContext.HttpContext.Session.GetString("Imagen_Usuario_String");
}

<!-- Section-->
<section class="container-fluid">
    <div class="p-3 m-3">
        <div class="col-lg-12 row">
            <div class="col-lg-3 col-md-12">
                <div class="w-100 m-2">
                    <div class="card">
                        <h5 class="card-header bg-dark text-light">Categorías</h5>
                        <div class="card-body">
                            <ul id="Category_Container" class="list-group">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-100 m-2">
                    <div class="card">
                        <h5 class="card-header bg-dark text-light">Proveedores</h5>
                        <div class="card-body">
                            <ul id="Supplier_Container" class="list-group">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-100 m-2">
                    <button id="Filter_Button" class="btn btn-outline-dark col-12"><i
                            class="fa-solid fa-filter"></i>&nbsp;&nbsp;Aplicar Filtros</button>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="w-100 m-2">
                    <div id="Supply_Container" class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="card" style="width: 18rem;">
                            <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
                                class="card-img-top" alt="Image_Error">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
                                class="card-img-top" alt="Image_Error">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
                                class="card-img-top" alt="Image_Error">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Java_Script {
    <script src="~/js/Transaction.js" asp-append-version="true"></script>
}